/* 🟦🟦Project Shared styles🟦🟦 */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}


/* fonts hind madurai  */
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');

.hind-font {
    font-family: "Hind Madurai", sans-serif;
    font-style: normal;
}

/* fonts inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-style: normal;
}

/* _________________________________________________________________________________________________________ */

/* 🟩🟦nav bar styles🟦🟩 */
.nav {

    background-color: white;

}

.navbar {

    margin-top: 10px;
    padding: 25px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.left-side img {
    width: 25%;
    max-width: 90px;
    height: auto;

}

.nav-h1 {
    font-size: 20px;
    font-weight: bolder;
    color: #006747;

}


/* right side */
.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#red-hart {
    width: 20px;
    height: 20px;
}

#call-coin {
    width: 20px;
    height: 20px;
}

/* navbar button styles  */
.bttn-1 {
    width: 7.68rem;
    height: 3.25rem;
    font-size: 1rem;
    font-weight: bolder;
    color: #000000;
    padding: 12px 12px;
    margin: 10 12;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    background-color: #41FF6B50;
    border: none;
    border-radius: 50px;
}

.bttn-2 {
    width: 7.68rem;
    height: 3.25rem;
    font-size: 1rem;
    font-weight: bolder;
    color: #FFFFFF;
    padding: 12px 12px;
    margin: 10 12;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #00A63E;
    border: none;
    border-radius: 50px;
}

/* navabar ends here  */
/* _________________________________________________________________________________________________________ */


/* 🟩🟦Hero Section🟦🟩 */
.banner-section {
    background: linear-gradient(to right, #13223A 0%, #066747 50%, #13223A 100%);
    height: 240px;
    padding: 40px 12px;

}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.hero-imglogo {
    max-width: 90px;
}

.banner h1 {
    font-size: 40;
    font-weight: bolder;
    color: #FFFFFF;
}

.banner p {
    font-size: 16;
    font-weight: bold;
    color: #FFFFFF;
}

/* hero section ends here */
/* _______________________________________________________________________________________________________ */

/* 🟩🟦hotline and history section 🟦🟩 */
.container-hotline {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #41FF6B10;
}



.hotline-callandhistoy {
    max-width: 1800px;
    max-height: 1140px;
    display: flex;
    padding: 24px 24px;


}

/* card section magerment */


.hotline-Call {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 20px;
}

.EmergencyNumber {
    background-color: #FFFFFF;
    width: 350px;
    height: 300px;
    padding: 30px 30px;
    border-radius: 12px;
    box-shadow: gray 0 8px 10px;

}

.card-topIcon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardIcon {
    width: 32px;
}

.card-ttl h3 {
    margin-top: 1rem;
    font-size: 18px;
    font-weight: bold;
    color: #111111;
}

.card-ttl h5 {
    font-size: 15px;
    font-weight: 500;
    color: #5C5C5C;
}

.hotline-number {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.hotline-number h3 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 18px;
    font-weight: bold;
    color: #111111;
}



.cardBtn {
    width: 80px;
    height: 30px;
    background-color: #F2F2F2;
    border: none;
    padding: 8px 6px;
    border-radius: 16px;
}

.copyANDcall {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    margin-top: 24px;
}

.copy-Button {
    width: 160px;
    height: 40px;
    padding: 14px 16px;

    border-radius: 8px;
    border: solid 1px grey;
    background-color: #FFFFFF;
    color: #5C5C5C;
    font-size: 16px;
}

.call-Button {
    width: 160px;
    height: 40px;
    padding: 14px 16px;

    border-radius: 8px;
    border: none;
    background-color: #00A63E;
    color: #FFFFFF;
    font-size: 16px;
}


/* call history part*/
.call-History {
    width: 400px;
    height: 980px;
    padding: 24px 24px;
    background-color: #FFFFFF;
    box-shadow: gray 0 8px 10px;
    border-radius: 14px;
}

.history-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.history-box h3 {
    font-size: 16px;
    font-weight: bold;
    color: #111111;
}

.history-box span {
    color: #5C5C5C90;
}

.historyClear-btn {
    width: 100px;
    height: 45px;
    /* padding: 24px 16px; */
    border-radius: 50px;
    border: none;
    margin: 36px 12px;
    background-color: #00A63E;
    color: #FFFFFF;
    font-weight: bold;
}

.hide {
    display: none;
}

/* Ends of hotline card and histroy section */
/* ________________________________________________________________________________________________________ */


/* 🟩🟩responsive task🟩🟩 */

/* for mobile responsive */
@media screen and (max-width: 576px) {

    /* Nav Bar Responsiv */
    .navbar {
        max-width: 540px;
        margin-top: auto;
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 0.8rem;
    }

    .right-side {
        gap: 14px;
    }

    .bttn-1 {
        width: 6rem;
        height: 2.5rem;
        font-size: 0.8rem;

        padding: 10px 10px;
        margin: 8px 10px;
        border-radius: 30px;
    }

    .bttn-2 {
        width: 6rem;
        height: 2.5rem;
        font-size: 0.8rem;

        padding: 10px 10px;
        margin: 8px 10px;
        border-radius: 30px;
    }
    /* Nav Bar Responsiv Ends Here*/
}